svg {
	pointer-events: none;
}

body{
	background-color: #0e3b63;
	color: white;
}
.container{
		margin: 0 auto;
		width: 50%;
		text-align: center;
}


.drawings{
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
}


.drawings path {
  fill: none;
  stroke: #9e8e73;
  stroke-width: 1;
  	stroke-linecap: round;
  		-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
