svg {
	pointer-events: none;
}

.container{
		margin: 0 auto;
		width: 300px;
		text-align: center;
}


.drawings{
	display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
}

.line-drawing,
.illustration {

display: inline-block;
position: absolute;
top: 0;
left: 0;

	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	stroke-linecap: round;
}

.line-drawing path {
	fill: none;
	stroke: white;
	stroke-width: 4;
}

