svg {
	pointer-events: none;
}

.container{
		margin: 0 auto;
		width: 300px;
}

/* Demo 1 */

.demo-drawings figcaption {
	margin: 0 auto 0 auto;
	max-width: 40em;
	width: 95%;
	text-align: center;
}

.demo-drawings figure:first-child figcaption {
	margin-top: 8em;
}

.demo-drawings figcaption h2 {
	font-weight: 300;
	font-size: 3em;
	margin-bottom: 0.2em;
}

.demo-drawings figcaption p {
	font-size: 1.3em;
}


.illustration {

}

.show {
	opacity: 1;
}

.hide {
	opacity: 0;
}


.drawings{
	display: inline-block;
position: relative;
width: 100%;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
}

.line-drawing,
.illustration {

display: inline-block;
position: absolute;
top: 0;
left: 0;

	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	stroke-linecap: round;
}

.line-drawing path {
	fill: none;
	stroke: white;
	stroke-width: 4;
}

