*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #0e3b63;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 100%;
}

a {
	text-decoration: none;
	color: #59666d;
	outline: none;
}

a:hover, a:focus {
	color: #6c6e6f;
	outline: none;
}

.demo-drawings body {
	background: #F17370;
	color: #fff;
}

.drawings path {
  fill: none;
  stroke: white;
  stroke-width: 1;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}